
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Author: Rahul Sharma  -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>gComp</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">gComp</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/newcomp">CREATE COMPANY</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/newcomp">CREATE COMPANY</a></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <br>
  <br>
  <div class="page-title">
    <h4>create new company</h4>
  </div>
  <br>
  <br>
    <div class="container">
      <form action="/createcompany" method="post">
        <input id="cname" type="text" name="name" placeholder="Company Name" required>
        <br>
        <input id= "desc" type="text" name="description" placeholder="Short Description" required>
        <br>
        <input id="suite" type="text" name="suite" placeholder="Suite No" required>
        <br>
        <input class="btn" type="submit" value="Create">
      </form>
      <br>
      <br>
    </div>

    <footer class="page-footer grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="white-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Company</h5>
            <ul>
              <li><a class="white-text" href="#">Home</a></li>
              <li><a class="white-text" href="#">About</a></li>
              <li><a class="white-text" href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">User</h5>
            <ul>
              <li><a class="white-text" href="#">Members</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container">
        &copy; 2017, Rahul Sharma
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>

    </body>
  </html>
